*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}
.grid {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.grid__row-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: 18%;
}

.grid__row-6 {
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    width: 57%;
}

.container__header{
    border-bottom: 1px solid #333;
    width: 100%;
}

.container__title {
    height: 70px;
    line-height: 70px;
}

.container__title-header {
    text-align: center;
    height: 50px;
    
}

.container__body {
    margin-top: 20px;
}

.container__body-item:hover {
    cursor: pointer;
}

.container__body-item {
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 0;
}

.container__item-title {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #333;
}

.container__item-name {
    width: 100%;
    text-decoration: none;
    color: #000;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container__item-list {
    width: 100%;
}
