*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}
.grid {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.grid__row-2{
    padding-left:12px;
    padding-right:12px;
    width:16.67%;
}

.grid__row-7 {
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    width: 66.67%;
}

.container__header{
    border-bottom: 1px solid #333;
    width: 100%;
}

.container__title {
    height: 70px;
    line-height: 70px;
}

.container__title-header {
    text-align: center;
    height: 50px;
    
}

.container__body {
    margin-top: 20px;
}

.container__body-item:hover {
    cursor: pointer;
}

.container__body-item {
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 0;
}

.container__item-title {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #333;
}

.container__item-name {
    width: 100%;
    text-decoration: none;
    color: #000;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container__item-list {
    width: 100%;
}

.nav-header{
    height:60px;
    width: 100%;
    text-align:center;
    display:flex;
}

.nav-header__title{
    font-size:18px;
    margin:auto;
    width: 90px;
    border-bottom: 1px solid #000;
}

.nav-body{
    display:block;
    width:100%;
}

.nav-body__list{
    display:flex;
    flex-direction:column;
}

.nav-body__list-item {
    list-style: none;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #333;
    margin: 14px 0;
    border-radius:4px;
    box-shadow: 1px 2px 2px #555;
    cursor:pointer;
}

.nav-body__list-item > a{
    display:block;
    color: #000;
    font-size: 16px;
    text-decoration: none;
}
