*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}
.grid {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.grid__row-2{
    padding-left:12px;
    padding-right:12px;
    width:16.67%;
}

.grid__row-7 {
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    width: 66.67%;
}

.container__header{
    display:flex;
    border-bottom: 1px solid #333;
    width: 100%;
}

.container__title {
    flex:20;
    height: 70px;
    line-height: 70px;
}

.container__account{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#333;
}

.container__account > a{
    text-decoration:none;
}

.container__title-header {
    text-align: center;
    height: 70px;
}

.container__body {
    margin-top: 20px;
}

.container__body-item:hover {
    cursor: pointer;
}

.container__body-item {
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 0;
}

.container__item-title {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #333;
}

.container__item-name {
    width: 100%;
    text-decoration: none;
    color: #000;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container__item-list {
    width: 100%;
}

.nav-header{
    height:60px;
    width: 100%;
    text-align:center;
    display:flex;
}

.nav-header__title{
    font-size:24px;
    margin:auto;
    border-bottom: 1px solid #000;
}

.nav-body{
    display:block;
    width:100%;
}

.nav-body__list{
    display:flex;
    flex-direction:column;
}

.nav-body__list-item {
    list-style: none;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #333;
    margin: 14px 0;
    border-radius:4px;
    box-shadow: 1px 2px 2px #555;
    cursor:pointer;
}

.nav-body__list-item > a{
    display:block;
    color: #000;
    font-size: 16px;
    text-decoration: none;
}

.login {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('/images/bg.png');

}

.modal-login{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.3);
}

.container-login {
    background: #fff;
    min-height: 200px;
    width: 800px;
    max-width: calc(100% - 32px);
    position: relative;
    border-radius: 4px;
   /* border: 1px solid #555;
    box-shadow: 1px 1px 2px rgb(129, 129, 129,.1);
    background: rgba(0,0,0,.05);*/
}

.body-heading {
    height: 90px;
    background: #009688;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    letter-spacing:14px;
    color:#fff;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}

.body-content{
    padding: 20px;
}

.content{
    display:flex;
    flex-direction:column;
}

.content__label{
    font-size:18px;
    color:#333;
    margin-top:10px;
}

.content__label > i{
    margin-right: 6px;
}

.content__input{
    margin:8px 0;
    padding:10px 4px;
    border:1px solid #333;
    border-radius:4px;
}

.forget-password > a{
    text-decoration:none;
    color:rgb(51,122,183);
    font-size:18px;
    padding:8px 0;
    display:block;
    float:right;
}

.forget-password > a:hover{
    text-decoration:underline;
}

.btn-login{
    margin-top:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.btn-login__btn {
    width: 96%;
    height: 40px;
    cursor: pointer;
    background: #009688;
    border:none;
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:6px;
}

.btn-login__btn:hover{
    opacity:0.7;
}

th {
     text-align: center;
}